body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(48, 47, 47);
}

h1 {
    color: crimson;
}

label {
    color: crimson;
}

span {
    color: red;
}

.todo {
    background-color: lightcoral;
    padding: .5em;
    border-radius: .85em;
    margin: 1em;
    cursor: pointer;
}

h3 {
    color: crimson;
}

.todo h3 {
    margin: 0px;
    color: black;
}

.todo p {
    margin: 0px;
}

.completed {
    background-color: greenyellow;
    text-decoration: line-through;
}

#completed-tasks {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: .3em solid lightgreen;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

#incomplete-tasks {
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    border: .3em solid crimson;
    margin-bottom: 1em;
    float: left;
}